Repository get-eventually/eventually-rs, pull requests merged in 2020-11, with the labels that each got.

#130 chore: fix urls to point to eventually-rs org
  README.md
  eventually-core/Cargo.toml
  eventually-postgres/Cargo.toml
  eventually-redis/Cargo.toml
  eventually-util/Cargo.toml
  eventually/Cargo.toml
Labels: chore-repository

#137 Bb8 pool
  eventually-postgres/Cargo.toml
  eventually-postgres/src/lib.rs
  eventually-postgres/src/store.rs
  eventually-postgres/src/subscription.rs
  eventually-postgres/tests/store.rs
  eventually-postgres/tests/subscriber.rs
  eventually/Cargo.toml
Labels: eventually-postgres, feature

#129 eventually-redis: EventSubscriber and Persistent subscription support
  eventually-redis/Cargo.toml
  eventually-redis/src/append_to_store.lua
  eventually-redis/src/lib.rs
  eventually-redis/src/store.rs
  eventually-redis/src/stream.rs
  eventually-redis/src/subscriber.rs
  eventually-redis/src/subscription.rs
  eventually-redis/tests/store.rs
Labels: eventually-redis, feature
