Repository get-eventually/eventually-rs, pull requests merged in 2020-10, with the labels that each got.

#114 eventually: documentation and new logo
  .cargo/config
  Cargo.toml
  README.md
  eventually-app-example/Cargo.toml
  eventually-app-example/create-order.sh
  eventually-app-example/src/api.rs
  eventually-app-example/src/bin/eventually-app-example-api.rs
  eventually-app-example/src/config.rs
  eventually-app-example/src/lib.rs
  eventually-app-example/src/order.rs
  eventually-app-example/src/state.rs
  eventually-app-example/tests/acceptance_tests.rs
  eventually-core/src/subscription.rs
  eventually-postgres/src/store.rs
  eventually-postgres/src/subscriber.rs
  eventually-postgres/src/subscription.rs
  eventually-test/src/bin/eventually-test-api.rs
  eventually-util/src/lib.rs
  eventually/src/lib.rs
  resources/logo.png
Labels: documentation, eventually, hacktoberfest-accepted, wip

#115 eventually: v0.4.0 & eventually-postgres: 0.2.0
  README.md
  eventually-app-example/Cargo.toml
  eventually-core/Cargo.toml
  eventually-postgres/Cargo.toml
  eventually-util/Cargo.toml
  eventually/Cargo.toml
Labels: eventually

#118 Improved quality of README
  README.md
Labels: chore-repository, documentation
